* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #2D5016;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
}

.navcontainer a {
    color: #F5F5DC;
    text-decoration: none;
    padding: 10px 15px;
}

.navcontainer ul{
    list-style-type: none;
    display: flex;
}

.navcontainer ul li a:hover {
    color: #F5F5DC;
    background-color: #87A96B;
    border-radius: 10px;
}

.logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    left: 0px;
    right: 150px;
    font-size: 24px;
    font-weight: bold;
    color: #F5F5DC;
    text-decoration: none;
}

.navbuttons {
    display: inline-flex;
    width: auto;
    gap: 20px;
}

.signup {
    text-decoration: none;
    color: #F5F5DC;
    border: 2px solid #F5F5DC;
    padding: 10px 15px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.signup:hover {
    background-color: #87A96B;
}

.bx-cart {
    font-size: 40px;
    color: #F5F5DC;
    padding: 10px;
    cursor: pointer;
}