* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #2D5016;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    z-index: 1000;
}

.navcontainer a {
    color: #F5F5DC;
    text-decoration: none;
    padding: 10px 15px;
}

.navcontainer ul{
    list-style-type: none;
    display: flex;
}

.navcontainer ul li a:hover {
    color: #F5F5DC;
    background-color: #87A96B;
    border-radius: 10px;
}

.logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    left: 0px;
    right: 150px;
    font-size: 24px;
    font-weight: bold;
    color: #F5F5DC;
    text-decoration: none;
}

.navbuttons {
    display: inline-flex;
    width: auto;
    gap: 20px;
}

.signup {
    text-decoration: none;
    color: #F5F5DC;
    border: 2px solid #F5F5DC;
    padding: 10px 15px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.signup:hover {
    background-color: #87A96B;
}

.bx-cart {
    font-size: 40px;
    color: #F5F5DC;
    padding: 10px;
    cursor: pointer;
}

.sign_form {
    max-width: 450px;
    margin: 130px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_form h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #0a2c05a9;
    text-align: center;
    border-bottom: 1px solid #0a2c05a9;
    width: 100%;
    padding-bottom: 10px;
}

.sign_form form {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sign_form label {
    font-size: 16px;
    color: #0a2c05a9;
    margin-bottom: 10px;
    display: block;
    padding-left: 5px;
}

.sign_form input {
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #87A96B;
    width: 100%;
    margin: 0;
    outline: none;
    margin-bottom: 10px;
}

.sign_form textarea {
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #87A96B;
    width: 100%;
    margin: 0;
    outline: none;
    margin-bottom: 10px;
}

.sign_form textarea:focus {
    border-color: #0a2c05a9;
    box-shadow: 0px 0px 10px rgba(135, 169, 107, 0.5);
    transition: all 0.3s ease-in-out;
}

.sign_form input:focus {
    border-color: #0a2c05a9;
    box-shadow: 0px 0px 10px rgba(135, 169, 107, 0.5);
    transition: all 0.3s ease-in-out;
}

.sign_form button {
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    background-color: #87A96B;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.sign_form button:hover {
    background-color: #0a2c05a9;
}




