* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: #2D5016;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    z-index: 1000;
}

.navcontainer a {
    color: #F5F5DC;
    text-decoration: none;
    padding: 10px 15px;
}

.navcontainer ul{
    list-style-type: none;
    display: flex;
}

.navcontainer ul li a:hover {
    color: #F5F5DC;
    background-color: #87A96B;
    border-radius: 10px;
}

.logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: 30px;
    left: 0px;
    right: 150px;
    font-size: 24px;
    font-weight: bold;
    color: #F5F5DC;
    text-decoration: none;
}

.navbuttons {
    display: inline-flex;
    width: auto;
    gap: 20px;
}

.signup {
    text-decoration: none;
    color: #F5F5DC;
    border: 2px solid #F5F5DC;
    padding: 10px 15px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
}

.signup:hover {
    background-color: #87A96B;
}

.bx-cart {
    font-size: 40px;
    color: #F5F5DC;
    padding: 10px;
    cursor: pointer;
}

.featureproduct {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 20px;
}

.featureproduct h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #2d5016;
}

.featureproduct p {
    text-align: center;
    font-size: 16px;
    color: #5a7c3e;
    padding-bottom: 20px;
}

.product-grid {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin: 30px;
}

.productcard {
    width: 350px;
    align-content: center;
    margin-left: 60px;
    background: white;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}


.productimage {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: #f9f9f9;
}

.productimage  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productinfo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.4;
    border-bottom: 1px solid #eee;
}

.price {
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
}

.price span {
    color: #C4704B;
    padding: 30px;
}

.price a {
    text-decoration: none;
    color: #F5F5DC;
    background-color: #C4704B;
    padding: 15px;
    border-radius: 20px;
}

.price a:hover {
    background-color: #A65D3C;
}

.filter {
    background-color: #2D5016;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.search input {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #87A96B;
    width: 350px;
    margin: 0;
    outline: none;
    margin-left: 70px;
}

.bx-search {
    font-size: 22px;
    z-index: 2;
    position: relative;
    right: 32px;
    top: 5px;
    cursor: pointer;
}

.bx-filter {
    font-size: 25px;
    font-weight: bold;
    color: #F5F5DC;
    cursor: pointer;
    padding: 10px;
}

.flash_sale h2 {
    font-size: 28px;
    font-weight: bold;
    color: #2D5016;
    padding-top: 30px;
}

.sale {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin: 30px;
}

.flash_sale {
    padding-left: 100px;
}

.salecard {
    width: 350px;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.salecard p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    color: #2d5016;
}

.salecard h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.discount {
    position: relative;
    left: 55px;
    top: 20px;
    font-size: 16px;
    color: #A65D3C;   
}

#category {
    color: #2D5016;
    font-size: 28px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 90px;
}

.kitchen {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}
.cosmetics {
    display: flex;
    flex-direction: row;
     padding-left: 20px;
}
.utility {
    display: flex;
    flex-direction: row;
     padding-left: 20px;
}

.homefoot {
    background-color: #2C2C2C;
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #F5F5DC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px;
}

.sites  {
    color: #F5F5DC;
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    bottom: 148px;
    left: 80px;
    
    
}

.sites a {
    text-decoration: none;
    color: #87A96B;
    margin-bottom: 10px;
}

.sites a:hover {
    background-color: #F5F5DC;
}

.sites ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.sites h3 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.socialmedia {
    position: relative;
    /* top: 240px; */
}

.socialmedia a {
    color: #87A96B;
    margin-top: 20px;
    margin-left: 35px;
    
}

.socialmedia a:hover {
    background-color: #F5F5DC;
}

.contactinfo {
    position: relative;
    top: 45px;
    right: 450px;
}

.contactinfo h3 {
    margin-bottom: 30px;
}

.contactinfo p {
    margin-top: 20px;
    color: #87A96B;
}
