* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.sign_form {
    max-width: 400px;
    margin: 150px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_form h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #0a2c05a9;
    text-align: center;
    border-bottom: 1px solid #0a2c05a9;
    width: 100%;
    padding-bottom: 10px;
}

.sign_form form {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sign_form label {
    font-size: 16px;
    color: #0a2c05a9;
    margin-bottom: 10px;
    display: block;
    padding-left: 5px;
}

.sign_form input {
    font-size: 16px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #87A96B;
    width: 100%;
    margin: 0;
    outline: none;
    margin-bottom: 10px;
}

.sign_form input:focus {
    border-color: #0a2c05a9;
    box-shadow: 0px 0px 10px rgba(135, 169, 107, 0.5);
    transition: all 0.3s ease-in-out;
}

.sign_form button {
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    background-color: #87A96B;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.sign_form button:hover {
    background-color: #0a2c05a9;
}




